<h2>Ej Inloggad</h2>
{? if haveLoggedOut:
    <p>
        Du har nu loggat ut
    </p>
?}
<form method="post">
    <fieldset>
        <legend>Login - Skriv in användarnamn och lösenord</legend>
        {? if error:
            <p>
                {{ error }}
            </p>
        ?}
        <label>
            Namn: <input {% input username %} />
        </label>
        <label>
            Lösenord: <input type="password" {% input password %} />
        </label>
        <label>
            Håll mig inloggad: <input type="checkbox" {% input rememberMe checkbox %} />
        </label>
        <input type="submit" {% input loginButton %} value="Logga in" />
    </fieldset>
</form>
