{? if isLoggedIn:
    <h2>{{ username }} är inloggad</h2>
?}
{? if !isLoggedIn:
    <h2>Ej Inloggad</h2>
?}
<form method="post">
    <fieldset>
        <legend>Login - Skriv in användarnamn och lösenord</legend>
        <label>
            Namn: <input name="username" />
        </label>
        <label>
            Lösenord: <input type="password" name="password" />
        </label>
        <label>
            Håll mig inloggad: <input type="checkbox" name="rememberMe" />
        </label>
        <input type="submit" name="submit" value="Logga in" />
    </fieldset>
</form>
